<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="APP_LOG_ROOT">logs</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n"/>
        </Console>

        <RollingFile name="fileLogger" fileName="${APP_LOG_ROOT}/A2A-Driven.log"
                     filePattern="${APP_LOG_ROOT}/A2A-Driven-%d{yyyy-MM-dd}.log">
            <!-- Except Error -->
            <ThresholdFilter level="error" onMatch="DENY"
                             onMismatch="ACCEPT"/>
            <PatternLayout>
                <pattern>%d{yyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
                </pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"
                                           modulate="true"/>
            </Policies>
        </RollingFile>
        <RollingFile name="errorLogger" fileName="${APP_LOG_ROOT}/A2A-Driven-error.log"
                     filePattern="${APP_LOG_ROOT}/A2A-Driven-error-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>%d{yyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
                </pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"
                                           modulate="true"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="ALL">
            <AppenderRef ref="Console" level="ALL"/>
            <AppenderRef ref="fileLogger" level="DEBUG"/>
            <AppenderRef ref="errorLogger" level="ERROR"/>
        </Root>
        <logger name="org.apache" level="ERROR"/>
        <logger name="httpclient" level="ERROR"/>
        <logger name="io.github.bonigarcia" level="OFF"/>
        <logger name="org.reflections.Reflections" level="ERROR"/>
    </Loggers>

</Configuration>